<%= render 'form', user: @user %>
<div class="card bg-light m-1" style="width:400px; left:3rem; top:4rem;">
    <div class="card-body text-center">
      <p class="card-text">if u have any account pls pass here  <%= link_to 'login', new_session_path %></p>
    </div>
  </div>
